<!DOCTYPE html>
<html>
  <head>
    <title>Test Dev</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <section class = "AddUsers">
    <h1>User List</h1>
   <ul>
    <% persos.forEach(function (data) { %>
           <div>First Name : <%= data.name %></div>
           <div>Last Name : <%= data.lastname %></div>
           <li>User ID<%= data.id %></li>
           <br/>
   <% }) %>
   </ul>
    <form action="/add" method="post">
      <p>
          <label for="newPerso">Add user</label>
          <input type="text" name="newPerso" id="newPerso" placeholder="First Name" autofocus />
          <input type="text" name="lastName" id="lastName" placeholder="Last Name" autofocus />
          <button type="submit">ADD</button>
      </p>
    </form>
  </section>

  <section class="updateUsers">
      <h1>Update Data</h1>
      <form action="/update" method="post">
          <div class="input">
              <label for="id">ID</label>
              <input type="text" id="id" name="id">
          </div>
          <div class="input">
              <label for="id">First Name</label>
              <input type="text" id="firstName" name="firstName">
          </div>
          <div class="input">
              <label for="id">Last Name</label>
              <input type="text" id="lastName" name="lastName">
          </div>
          <button type="submit">UPDATE</button>
      </form>
  </section>
  <section class="deleteUser">
      <h1>Delete User</h1>
      <form action="/delete" method="post">
          <div class="input">
              <label for="id">ID</label>
              <input type="text" id="id" name="id">
          </div>
          <button type="submit">DELETE</button>
      </form>
  </section>

  <!--<section class="getspot">
      <h1>Parking spots</h1>
      <a href="/getspot">show parking spots</a>

  </section>-->

  <section class="addspot">
      <h1>Create Spot</h1>
      <form action="/addspot" method="post">
          <p>
              <input type="text" name="newSpot" id="newSpot" placeholder="Place number" autofocus />
              <button type="submit">CREATE</button>
          </p>
      </form>
  </section>
  </body>
</html>
